# Ignore everything inside these folders
data/*
models/*
venv/*

# But keep folder structure
!data/.gitkeep
!models/.gitkeep
!venv/.gitkeep

# Python
__pycache__/
*.pyc

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
